{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
</head>
<body>

<h2>Register</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="POST">

    
    {% csrf_token %}

    <label>Username:</label>
    <input type="text" name="username" required>
    <br><br>

    <label>Password:</label>
    <input type="password" name="password" required>
    <br><br>

    <label>Confirm Password:</label>
    <input type="password" name="confirm_password" required>
    <br><br>

    <!-- Institution Selection -->
    <label>Select Institution:</label>
    <select name="institution" required>
    <option value="">-- Select School/College --</option>

    {% for inst in institutions %}
        <option value="{{ inst.id }}"
        {% if request.POST.institution == inst.id|stringformat:"s" %}
            selected
        {% endif %}
        >
            {{ inst.name }}
        </option>
    {% endfor %}

</select>
<br><br>

    <!--  Institution Join Password -->
    <label>Institution Password:</label>
    <input type="password" name="join_password" required>
    <br><br>

    <button type="submit">Register</button>
</form>

<p>Already have an account? 
    <a href="{% url 'accounts:login' %}">Login</a>
</p>

</body>
</html>

